/* App.css */

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; /* A more modern-looking font. */
  background-color: #f7f7f7;
  color: #333;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 20px;
  min-height: 100vh;
  box-sizing: border-box;
}

h3 {
  color: #2c3e50;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 30px;
}

p.score {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  color: #16a085;
}

button {
  border: 0;
  outline: none;
  cursor: pointer;
  color: #fff;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 25px;
  background: linear-gradient(45deg, #3498db, #9b59b6);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s ease-in-out;
  margin: 10px 0;
}

button:hover {
  transform: scale(1.05);
}

button:disabled {
  background: #bdc3c7;
}

button.start-game {
  padding: 20px 40px;
  font-size: 24px;
}

button.option-button {
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
  display: block;
  background-color: #48c9b0;
}

div.loading {
  font-size: 24px;
  margin-top: 50px;
}

div.error {
  color: #e74c3c;
  margin-top: 50px;
}

/* Additional elements like modals, alerts, etc. could be styled here. */
